<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conan4</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/normalize.css">

</head>

<body>
  <header class="animate__animated animate__flipInX animate__delay-1s">
    <nav>
      <a class="active" href="#seccion-1">Home</a>
      <a href="#seccion-2">Quien soy</a>
      <a href="#seccion-3">Servicios</a>
      <a href="#seccion-4">Recetario</a>
      <a href="#seccion-5">contacto</a>
    </nav>
  </header>

  <section id="seccion-1">
    <div class="alejandro-container">
      <h1><span class="a_alejandro">a</span>lejandro <span class="c_casabona">C</span>asabona</h1>
    </div>
    <div class="redes-sociales">
      <a class="instagram" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-3x"
          style="color: rgb(255, 40, 2)"></i></a>

      <a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-3x"
          style="color: rgb(255, 40, 2)"></i></a>

      <a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-3x"
          style="color: rgb(255, 40, 2)"></i></a>

    </div>
  </section>

  <section id="seccion-2">
    <div class="conoceme">
      <div class="mask-2">
        <h1 class="texto"><span class="c_conoceme">c</span>onoceme</span>
          <div class="foto">
            <img src="/images/cooker.jpg" alt="">
          </div>
          <div class="quiensoy">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod officia dolorem commodi explicabo in,
              deserunt tempora, vel fuga corrupti doloremque velit! Eius autem quas eveniet reprehenderit ex culpa
              officia, veritatis, impedit ratione mollitia hic maiores itaque quia fugit, minus id laudantium amet sed?
              Reiciendis, dicta. Animi iste itaque numquam aliquid? <br>
            </p>
          </div>
      </div>
    </div>

  </section>

  <section id="seccion-3">
    <div class="containerS3"></div>

    <div class="corporative">
      <h2><span class="c_casabona2">C</span>asabona</h2>
      <h3>corporativo</h3>
      <p></p>
    </div>
    <div class="buttons">
      <button><a href="#seccion-4">Ver más</a></button>
      <button><a href="#seccion-5">Contactanos</a> </button>
    </div>

  </section>

  <section id="seccion-4">

    <div class="container">
      <figure>
        <img src="images/Recetario img/lomo.jpg" alt="Langostinos">
        <div class="mask">
          <h2>lomo salteado</h2>
          <p>Cubos de lomo marinados en cerveza con papas rústicas, vegetales de estación y pickles caseros
          </p>
        </div>
      </figure>
      <figure>
        <img src="images/recetario img/mollejas.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Paupiette de molleja</h2>
          <p>Mollejas braseadas al champagne con verdeo, champignones y hongos de pino</p>
        </div>
      </figure>
      <figure>
        <img src="images/sandwich.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
      <figure>
        <img src="images/langostinos.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
      <figure>
        <img src="images/langostinos.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
      <figure>
        <img src="images/langostinos.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
      <figure>
        <img src="images/langostinos.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
      <figure>
        <img src="images/langostinos.jpg" alt="Langostinos">
        <div class="mask">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque voluptate cumque?</p>
        </div>
      </figure>
  </section>

  <section id="seccion-5">
    <div class="contact">
      <form id="form-contact">
        <div class="otroform">
          <input class="controls" type="text" name="name" id="name" placeholder="Ingrese su nombre">
          <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su correo">
          <input class="controls" type="number" name="telefono" id="telefono" placeholder="Ingrese su teléfono">
          <textarea class="controls" id="mensaje" placeholder="Ingrese su mensaje" name="mensaje" rows="6"
            cols="50"></textarea>


          <div class="caja-checkbox">
            <input class="checkbox" type="checkbox" name="checkbox" id="checkbox" value="#">
            <p>Estoy de acuerdo con los<a href="#"> Términos y Condiciones</a></p>

          </div>
          <button id="submit-button" type="submit">
            Enviar mensaje
          </button>
        </div>
      </form>
    </div>
  </section>

  <section id="creditos">
    <div class="creditos">
      <p class="diseñoweb">
        Diseño Web por Damián Barzola
      </p>
      <a href="https://www.instagram.com" target="_blank">
        <i class="fa-brands fa-instagram fa-2x" style="color: rgb(255, 255, 255)"></i></a>
      <a href="https://www.twitter.com" target="_blank">
        <i class="fa-brands fa-twitter fa-2x" style="color: rgb(255, 255, 255)"></i></a>
    </div>
  </section>


  <script src="javascripts/formulario.js"></script>
  <script type="text/javascript" src="javascripts/vanilla-tilt.js"></script>
  <script>VanillaTilt.init(document.querySelectorAll(".redes-sociales"), {
      max: 25,
      speed: 400
    });</script>
</body>

</html>